[submodule "ng/wtp"]
	path = ng/wtp
	url = https://github.com/zhanganha/wtp.git
[submodule "ng/tlrt"]
	path = ng/tlrt
	url = https://github.com/zhanganha/tlrt.git
[submodule "govendor"]
        path = govendor
	url = http://github.com/cloudfoundry/govendor.git
[submodule "vendor/integration-test-support"]
	path = vendor/integration-test-support
	url = git@github.com:cloudfoundry/integration-test-support.git
